<header>
  <div class="navbar">
    <div class="logo">
      <a href="index.html"
        ><img src="./../assets/images/logo-o-3-interfaces.svg"
      /></a>
    </div>
    <nav>
      <ul>
        <li class="top-nav-menu expandable">
          <a href="#">Work</a>
          <div class="submenu" id="work">
            <div class="content-block">
              <a class="close"></a><label>Our Work</label
              ><a class="submenu-item" href="study-ubl.html"
                >United Bank Limited</a
              ><a class="submenu-item" href="study-fusion.html">Fusion </a
              ><a class="submenu-item" href="study-ibm.html">IBM</a
              ><a class="submenu-item" href="study-transroad.html">Transroad</a
              ><a class="submenu-item" href="study-bok.html">Bank of Khyber</a>
            </div>
          </div>
        </li>
        <li class="top-nav-menu nav-contact">
          <a href="contact-us.html">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<main id="study-transroad">
  <section class="video-section-transroad" id="hero-video-section">
    <video
      id="intro-video-seq1"
      autoplay
      muted
      playsinline
      loop
      poster="./../assets/images/transroad/video-poster.jpg"
      preload="auto"
    >
      <source
        src="./../assets/images/transroad/tr-hero-banner-video.mp4"
        type="video/mp4"
      />
      Your browser does not support the video tag.
    </video>
  </section>
  <section class="hero-title">
    <div class="content-block">
      <div class="sec-content">
        <h2 class="block">Meet Transroad</h2>
        <p>
          Engineered and implemented a software solution for fleet management
        </p>
        <div class="arrow-down"></div>
      </div>
    </div>
  </section>
  <section class="transroad-icon-identity">
    <img src="./../assets/images/transroad/logo.png" />
    <div class="mobile-fig1"></div>
    <div class="mobile-fig2"></div>
  </section>
  <section class="transroad-visual-language">
    <div class="content-block">
      <div class="sec-content">
        <h2 class="block">
          Visual Language<br />
          for Mobile App
        </h2>
        <p>
          The visual language developed for Transroad is based on a clean and
          minimalistic design, with a focus on typography, color, and imagery.
        </p>
      </div>
    </div>
  </section>
  <section class="transroad-mobile-app">
    <img
      class="mobile-app-views"
      src="./../assets/images/transroad/transroad-mobile.png"
      style="width: 100%"
    /><img
      src="./../assets/images/transroad/phone-slab@3x.png"
      style="width: 100%"
    />
    <div class="mobile-fig1"></div>
    <div class="mobile-fig2"></div>
  </section>
  <section class="transroad-mobile-ss">
    <div class="content-block">
      <div class="sec-content">
        <h2 class="block">
          Driver<br />
          Application
        </h2>
        <p>
          The app is designed to provide a simple and effective way for drivers
          to connect with fleets that are looking for their services. It can be
          accessed easily via mobile devices.
        </p>
      </div>
    </div>
    <img
      src="./../assets/images/transroad/mobile-screenshots.png"
      style="width: 100%"
    />
  </section>
  <section class="transroad-mobile-ss-customer">
    <div class="content-block">
      <div class="sec-content">
        <h2 class="block">
          Customer<br />
          Application
        </h2>
        <p>
          The application allows customers to create a profile and manage all
          their shipping needs in one place. Customers can request quotes, book
          shipments, and track their cargo from pickup to delivery.
        </p>
      </div>
    </div>
    <img src="./../assets/images/transroad/customer-ss.png" style="width: 100%" />
  </section>
</main>
<footer>
  <div class="content-block">
    <div class="col">
      <div class="footer-nav">
        <div class="nav-group">
          <label class="li">About</label
          ><a class="li" href="index.html">What we do</a
          ><a class="li" href="index.html">Studios</a>
        </div>
        <div class="nav-group">
          <label class="li">Our Work</label
          ><a class="li" href="study-ubl.html">United Bank Limited</a
          ><a class="li" href="study-fusion.html">Fusion</a
          ><a class="li" href="study-ibm.html">IBM</a
          ><a class="li" href="study-transroad.html">Transroad</a
          ><a class="li" href="study-bok.html">Bank of Khyber</a>
        </div>
      </div>
    </div>
    <div class="col">
      <label
        >Get in touch<a class="mailto" href="mailto:info@o3interfaces.com"
          >info@o3interfaces.com</a
        ></label
      >
    </div>
  </div>
</footer>